<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style_form.css">
</head>

<div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>Busqueda de {{searched_object}} por {{search_criteria}}</h2>
        <div class="underline-title"></div>
      </div>
      <div style="padding-top: 12px;"></div>
      <form method="post" class="form">
        <label for="search-value-id" style="padding-top:10px">
            &nbsp;{{search_criteria}}
          </label>
        <input id="search-value-id" class="form-content" type="text" name="search-value" required />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" name="submit" value="BUSCAR" />
      </form>
    </div>
  </div>