<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo Uniandes" style="height: 50px;">
            </a>
        </div>
        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="/author">Autor</a></li>
                <li><a href="/topic">Tópico</a></li>
                <li><a href="/field-of-study">Campo de Estudio</a></li>
                <li><a href="/publication-suggestion">Sugerencia de publicaciones</a></li>
                <li><a href="/publication-details">Detalles de publicacion</a></li>
                <li><a href="/related-publication">Publicaciones relacionadas</a></li>
<!--                <li><a href="/publication-references">Referencias de publicacion</a></li>-->
                <li><a href="/topics-barplot">BarPlot Tópicos</a></li>
                <li><a href="/topics-graph">Conexión entre Tópicos</a></li>
                <li><a href="/create-paper"> Crear </a></li>
            </ul>
        </div>
    </div>
</nav>