<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div style="background: -webkit-linear-gradient(bottom, rgb(191, 191, 252), #E8E8E4);">
        <div id="card" style="height: 520px;  overflow: auto; padding-top: 100px; padding-bottom: 100px;">
            {% include 'nx.html' %}
        </div>
    </div>
</body>
</html>